<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

# Python for Algorithmic Trading

**Chapter 03 &mdash; Working with Financial Data**

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import matplotlib as mpl
mpl.rcParams['font.family'] = 'serif'

## Reading Financial Data From Different Sources

### The Data Set

In [2]:
with open('data/aapl.csv', 'r') as f:
    for _ in range(5):
        print(f.readline())

Date,Open,High,Low,Close,Volume,Adj Close

2016-10-31,113.65,114.23,113.2,113.54,26419400,113.54

2016-10-28,113.87,115.21,113.45,113.72,37861700,113.72

2016-10-27,115.39,115.86,114.1,114.48,34562000,114.48

2016-10-26,114.31,115.7,113.31,115.59,66134200,115.59

### Reading from a CSV File with Python

In [3]:
import csv

In [4]:
csv_reader = csv.reader(open('data/aapl.csv', 'r'))

In [5]:
data = [l for l in csv_reader]

In [6]:
data[:5]

[['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'],
 ['2016-10-31', '113.65', '114.23', '113.2', '113.54', '26419400', '113.54'],
 ['2016-10-28', '113.87', '115.21', '113.45', '113.72', '37861700', '113.72'],
 ['2016-10-27', '115.39', '115.86', '114.1', '114.48', '34562000', '114.48'],
 ['2016-10-26', '114.31', '115.7', '113.31', '115.59', '66134200', '115.59']]

In [7]:
csv_reader = csv.DictReader(open('data/aapl.csv', 'r'))

In [8]:
data = [l for l in csv_reader]

In [9]:
data[:3]

[OrderedDict([('Date', '2016-10-31'),
              ('Open', '113.65'),
              ('High', '114.23'),
              ('Low', '113.2'),
              ('Close', '113.54'),
              ('Volume', '26419400'),
              ('Adj Close', '113.54')]),
 OrderedDict([('Date', '2016-10-28'),
              ('Open', '113.87'),
              ('High', '115.21'),
              ('Low', '113.45'),
              ('Close', '113.72'),
              ('Volume', '37861700'),
              ('Adj Close', '113.72')]),
 OrderedDict([('Date', '2016-10-27'),
              ('Open', '115.39'),
              ('High', '115.86'),
              ('Low', '114.1'),
              ('Close', '114.48'),
              ('Volume', '34562000'),
              ('Adj Close', '114.48')])]

In [10]:
sum([float(l['Close']) for l in data]) / len(data)

115.70714285714287

### Reading from a CSV File with pandas

In [11]:
import pandas as pd

In [12]:
data = pd.read_csv('data/aapl.csv', index_col=0,
                   parse_dates=True).sort_index()

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2016-10-03 to 2016-10-31
Data columns (total 6 columns):
Open         21 non-null float64
High         21 non-null float64
Low          21 non-null float64
Close        21 non-null float64
Volume       21 non-null int64
Adj Close    21 non-null float64
dtypes: float64(5), int64(1)
memory usage: 1.1 KB

In [14]:
data.tail()

              Open    High     Low   Close    Volume  Adj Close
Date
2016-10-25  117.95  118.36  117.31  118.25  48129000     118.25
2016-10-26  114.31  115.70  113.31  115.59  66134200     115.59
2016-10-27  115.39  115.86  114.10  114.48  34562000     114.48
2016-10-28  113.87  115.21  113.45  113.72  37861700     113.72
2016-10-31  113.65  114.23  113.20  113.54  26419400     113.54

In [15]:
data['Close'].mean()

115.70714285714286

### Exporting to Excel and JSON

In [16]:
data.to_excel('data/aapl.xlsx')

KeyError: <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [ ]:
data.to_json('data/aapl.json')

In [ ]:
ls -n data/aapl*

### Reading from Excel and JSON

In [ ]:
data_copy_1 = pd.read_excel('data/aapl.xlsx', 'Sheet1',
                            index_col=0).sort_index()

In [ ]:
data_copy_1.head()

In [ ]:
data_copy_2 = pd.read_json('data/aapl.json')

In [ ]:
data_copy_2.head()

## Working with Open Data Sources

In [ ]:
from pandas_datareader import data as web

In [ ]:
data = web.DataReader(name='AAPL', data_source='google')

In [ ]:
data.round(2).tail()

In [ ]:
data.info()

In [ ]:
web.get_data_google('AAPL')['Close'].tail()

In [ ]:
data = web.DataReader(name='MSFT', data_source='google',
                      start='2016-1-1', end='2016-6-30')

In [ ]:
data.round(2).tail()

In [ ]:
import quandl as q

In [ ]:
data = q.get('BAVERAGE/USD')

In [ ]:
data.info()

In [ ]:
data['24h Average'].resample('A').last()

In [ ]:
import configparser
config = configparser.ConfigParser()
config.read('../pyalgo.cfg')

In [ ]:
quandl_api_key = config['quandl']['api_key']

In [ ]:
import quandl

In [ ]:
data = quandl.get('EOD/AAPL', start_date='2015-1-1',
                  end_date='2016-10-31', api_key=quandl_api_key)

In [ ]:
data.info()

# does not work anymore
rev_annually = quandl.get('SEC/AAPL_SALESREVENUENET_A',
                          api_key=quandl_api_key)

rev_annually / 1e9

rev_quarterly = quandl.get('SEC/AAPL_SALESREVENUENET_Q',
                           api_key=quandl_api_key)

rev_quarterly[-8:]

In [ ]:
vol = quandl.get('VOL/MSFT', api_key=quandl_api_key)

In [ ]:
vol.info()

In [ ]:
vol[['IvMean30', 'IvMean60', 'IvMean90']].tail()

## Thomson Reuters Eikon Python API

`pip install eikon`

In [ ]:
import eikon as ek

In [ ]:
ek.set_app_id(config['eikon']['app_id'])

In [ ]:
help(ek)

### Retrieving Historical Structured Data

In [ ]:
symbols = ['AAPL.O', 'MSFT.O', 'GOOG.O']

In [ ]:
# help(ek.get_timeseries)

In [ ]:
data = ek.get_timeseries(symbols,
                         start_date='2016-01-01',
                         end_date='2016-10-31',
                         interval='daily',
                         fields=['*'])

In [ ]:
data.keys()

In [ ]:
type(data['AAPL.O'])

In [ ]:
data['AAPL.O'].info()

In [ ]:
data['AAPL.O'].tail()

In [ ]:
%%time
data = ek.get_timeseries(symbols,
                         start_date='2016-10-28',
                         end_date='2016-10-31',
                         interval='minute',
                         fields=['*'])

In [ ]:
data.keys()

In [ ]:
data['GOOG.O'].head()

In [ ]:
for sym in symbols:
    print('\n' + sym + '\n', data[sym].ix[-10:-7])

In [ ]:
help(ek.get_timeseries)

In [ ]:
%%time
data = ek.get_timeseries(symbols,
                         start_date='2016-12-12 15:00:00',
                         end_date='2016-12-13 16:00:00',
                         interval='minute',
                         fields=['*'])

In [ ]:
data['AAPL.O'].info()

In [ ]:
data['AAPL.O'].head()

In [ ]:
resampled = data['AAPL.O'].resample('5min').last()

In [ ]:
resampled.tail()

### Retrieving Historical Unstructured Data

In [ ]:
# help(ek.get_news_headlines)

In [ ]:
headlines = ek.get_news_headlines(query='R:AAPL.O iphone',
                                  count=5,
                                  date_from='2016-1-1',
                                  date_to='2016-12-20')

In [ ]:
headlines

In [ ]:
story = headlines.iloc[0]

In [ ]:
story['storyId']

In [ ]:
news_text = ek.get_news_story(story_id['storyId'])

In [ ]:
from IPython.display import HTML

In [ ]:
HTML(news_text)

## Storing Financial Data Efficiently

### Storing DataFrame Objects

In [ ]:
from sample_data import generate_sample_data

In [ ]:
print(generate_sample_data(rows=5, cols=4))

In [ ]:
%time data = generate_sample_data(rows=5e6, cols=10)

In [ ]:
data.info()

In [ ]:
h5 = pd.HDFStore('data/data.h5', 'w')

In [ ]:
%time h5['data'] = data

In [ ]:
ls -n data/data.*

In [ ]:
h5.close()

In [ ]:
h5 = pd.HDFStore('data/data.h5', 'r')

In [ ]:
%time data_copy = h5['data']

In [ ]:
data_copy.info()

In [ ]:
h5.close()

In [ ]:
rm data/data.h5

In [ ]:
%time data = generate_sample_data(rows=5e6, cols=10).round(2)

In [ ]:
%time data.to_hdf('data/data.h5', 'data', format='table')

In [ ]:
ls -n data/data.*

In [ ]:
%time data_copy = pd.read_hdf('data/data.h5', 'data')

In [ ]:
h5 = pd.HDFStore('data/data.h5', 'r')

In [ ]:
h5

In [ ]:
h5.close()

In [ ]:
import tables as tb

In [ ]:
h5 = tb.open_file('data/data.h5', 'r')

In [ ]:
h5

In [ ]:
h5.root.data.table[:3]

In [ ]:
h5.close()

In [ ]:
rm data/data.h5

### Using TsTables

In [ ]:
from sample_data import generate_sample_data

In [ ]:
data = generate_sample_data(rows=2.5e6, cols=5, freq='1s').round(2)

In [ ]:
data.info()

In [ ]:
import tstables

In [ ]:
import tables as tb

In [ ]:
class desc(tb.IsDescription):
    ''' Description of TsTables table structure.
    '''
    timestamp = tb.Int64Col(pos=0)
    No0 = tb.Float64Col(pos=1)
    No1 = tb.Float64Col(pos=2)
    No2 = tb.Float64Col(pos=3)
    No3 = tb.Float64Col(pos=4)
    No4 = tb.Float64Col(pos=5)

In [ ]:
h5 = tb.open_file('data/data.h5', 'w')

In [ ]:
ts = h5.create_ts('/', 'data', desc)

In [ ]:
h5

In [ ]:
%time ts.append(data)

In [ ]:
# h5

In [ ]:
import datetime

In [ ]:
start = datetime.datetime(2017, 1, 2)

In [ ]:
end = datetime.datetime(2017,1, 3)

In [ ]:
%time subset = ts.read_range(start, end)

In [ ]:
start = datetime.datetime(2017, 1, 2, 12, 30, 0)

In [ ]:
end = datetime.datetime(2017,1, 5, 17, 15, 30)

In [ ]:
%time subset = ts.read_range(start, end)

In [ ]:
subset.info()

In [ ]:
rm data/data.h5

### Storing Data with SQLite3

In [ ]:
from sample_data import generate_sample_data

In [ ]:
%time data = generate_sample_data(1e6, 5, '1min').round(2)

In [ ]:
data.info()

In [ ]:
import sqlite3 as sq3

In [ ]:
con = sq3.connect('data/data.sql')

In [ ]:
%time data.to_sql('data', con)

In [ ]:
ls -n data/data.*

In [ ]:
query = 'SELECT * FROM data WHERE No1 > 105 and No2 < 108'

In [ ]:
%time res = con.execute(query).fetchall()

In [ ]:
res[:5]

In [ ]:
len(res)

In [ ]:
con.close()

In [ ]:
rm data/data.sql

<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

<a href="http://tpq.io" target="_blank">http://tpq.io</a> | <a href="http://twitter.com/dyjh" target="_blank">@dyjh</a> | <a href="mailto:training@tpq.io">training@tpq.io</a>

**Python Quant Platform** |
<a href="http://quant-platform.com">http://quant-platform.com</a>

**Python for Finance** |
<a href="http://python-for-finance.com" target="_blank">Python for Finance @ O'Reilly</a>

**Derivatives Analytics with Python** |
<a href="http://derivatives-analytics-with-python.com" target="_blank">Derivatives Analytics @ Wiley Finance</a>

**Listed Volatility and Variance Derivatives** |
<a href="http://lvvd.tpq.io" target="_blank">Listed VV Derivatives @ Wiley Finance</a>

**Python Training** |
<a href="http://training.tpq.io" target="_blank">Python for Finance University Certificate</a>